
#board {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem 5rem;
  
}

#board > div {
  border: 1px solid black;
}

.spot {
  text-align: center;
  font-size: 4rem;
}